@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif !important;
    height: 100vh;
    color: #3a3e42 !important;
}

.AppForm .AppFormLeft h1 {
    font-size: 35px;
}

.AppForm .AppFormLeft input:focus {
    border-color: #ced4da;
}

.AppForm .AppFormLeft input::placeholder {
    font-size: 15px;
}

.AppForm .AppFormLeft i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.AppForm .AppFormLeft a {
    color: #3a3e42;
}

.AppForm .AppFormLeft button {
    background: linear-gradient(45deg, #8D334C, #CF6964);
    border-radius: 30px;
}

.AppForm .AppFormLeft p span {
    color: #007bff;
}

.AppForm .AppFormRight {
    background-image: url('https://i.ibb.co/tDLqQtj/bg.jpg');
    height: 450px;
    background-size: cover;
    background-position: center;
}

.AppForm .AppFormRight:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #8D334C, #CF6964);
    opacity: 0.5;
}

.AppForm .AppFormRight h2 {
    z-index: 1;
}

.AppForm .AppFormRight h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.AppForm .AppFormRight p {
    z-index: 1;
}